/*bladder is connected to this!!!!!!!!!!!!!!!!!!*/



/* General body styling */
body {
  background-color: #87cefa;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styling */
h1 {
  color: lightskyblue;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px black;
  font-family: "Roboto Condensed", sans-serif;
}

/* Horizontal rule styling */
hr {
  visibility: hidden;
}

/* Paragraph text styling */
.p1 {
  text-align: center;
  font-size: 25px;
  color:white;
  text-shadow: 2px 2px royalblue;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Button container styling */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align buttons horizontally */
  gap: 20px; /* Space between buttons */
  margin: 20px;
}

/* Button general styling */
.buttons {
  background-color: cornflowerblue;
  border: 2px solid #4682b4;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  width: 210px; /* Fixed width for equal size */
  height: 200px; /* Fixed height for equal size */
  display: grid;
  align-items: center; /* Center text vertically */

  justify-content: center; /* Center text horizontally */
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

}



/* Button hover effect */
.buttons:hover {
  background-color: #4682b4;
  transform: scale(1.05);
}

.btpait{
  border: 1px solid #4682b4;
  width: 100px; /* Fixed width for equal size */
  height: 40px;
  font-size: 15px;
  align-items: center; /* Center text vertically */
  justify-content: center;
  position: absolute;
  bottom:1%;
  left:0%;
}

header {
  background-color: red; }

.back1{
  width: 100px; /* Fixed width for equal size */
  height: 40px;
  display:block;
  font-size: 15px;
  margin:auto;

}

header{
  background-color: cornflowerblue;
  width: 100%;
  top: 0;
  padding:10px;
}
.signout{
  background-color: cornflowerblue;
  color:white;
  width:120px;
  height:40px;
  position:absolute;
  bottom:1%;
  right:0%;
  justify-content:center;
  border: 1px solid #4682b4;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.img{
  width: 180px;
  height: 160px;
}

